@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL SETTINGS */

@font-face {
  font-family: 'Ubuntu';
  src: url('./../../libs/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@layer base {
  html {
    font-family: 'Ubuntu', sans-serif;
  }
}

body {
  @apply m-0 bg-whiteDefault;
}

h1 {
  @apply text-l tab:text-xxl pc:text-xxl;
}

h2 {
  @apply text-m tab:text-l pc:text-l;
}

h3 {
  @apply text-s
}

p {
  @apply text-s tab:text-m pc:text-m;
}

a {
  @apply text-s tab:text-l text-blueDefault;
}

h5 {
  @apply text-xs;
}

h1, h2, p, button {
  @apply p-1 tab:p-4 pc:p-8
}

h1, h2 {
  @apply mb-4
}

.titleCenter {
  @apply text-center;
}

button {
  @apply font-medium tab:font-bold pc:font-bold mb-3 mt-3;
}

hr {
  @apply m-2
}

button.blueButton {
  @apply bg-blueDefault rounded-md text-whiteDefault text-m border-blueDefault border-x-4 border-y-4;
  transition-duration: 300ms;
}

button.blueButton:hover {
  @apply text-blueDefault;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(43,107,255,0.20211834733893552) 100%);
  transition-duration: 300ms;
}

button.whiteButton {
  @apply bg-whiteDefault rounded-md text-blueDefault text-m border-blueDefault border-x-4 border-y-4;
  transition-duration: 300ms;
}

button.whiteButton:hover {
  @apply text-whiteDefault bg-blueDefault;
  transition-duration: 300ms;
}

img {
  @apply select-none
}

.selectionToBlue *::selection {
  @apply bg-blueDefault text-whiteDefault;
}

.selectionToWhite *::selection {
  @apply bg-white text-blueDefault;
}

@keyframes underline {
  from {
    background-size: 100% 100%;
    background-position: bottom right;
  }
  50% {
    background-size: 0 100%;
    background-position: bottom right;
  }
  50.01% {
    background-position: bottom left;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom left;
  }
}

/* HEADER */

#header {
  @apply shadow-md h-12 tab:h-20 pc:h-24 flex flex-row fixed w-[100%] bg-white z-50;;
  animation: fromTop 1s cubic-bezier(.11,.9,.29,.93);
}

#links {
  @apply h-[100%] w-5/6 pc:w-11/12 flex justify-center items-center space-x-8 tab:space-x-20 pc:space-x-72;
}

#header a:hover {
  @apply cursor-pointer bg-gradient-to-tr;
  background: linear-gradient(to top, rgba(43, 107, 255, 0.5) 0%, rgba(43, 107, 255, 0.5) 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
  animation: underline 700ms both;
}

#darkModeDiv {
  @apply h-[100%] w-1/6 pc:w-1/12 flex justify-end;
}

#darkModeDiv img {
  @apply h-[100%] transition-all;
  transition-duration: 500ms;
}

#darkModeDiv img:hover {
  transition: all 500ms;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@keyframes fromTop {
  from {
    @apply h-0;
  }
  100% {
    @apply h-12;
  }
}

@media (min-width: 640px) {
  @keyframes fromTop {
    from {
      @apply h-0;
    }
    100% {
      @apply h-20;
    }
  }
}

@media (min-width: 1024px) {
  @keyframes fromTop {
    from {
      @apply h-0;
    }
    100% {
      @apply h-24;
    }
  }
}

.showHeader {
  @apply translate-y-0;
  transition-duration: 400ms;
}

.hiddenHeader {
  @apply -translate-y-24;
  transition-duration: 700ms;
}

/* FOOTER */

#footer {
  @apply flex flex-col space-y-4 p-5;
}

#footer hr {
  @apply w-1/2 self-center;
}

#socialMedias {
  @apply flex flex-col items-center space-y-5;
}

#socialMediaLinks {
  @apply flex flex-row space-x-5;
}

.icon {
  @apply h-12;
  transition: all 300ms;
}

.icon:hover {
  @apply h-16;
  transition: all 300ms;
}

#infosFooter {
  @apply flex flex-row space-x-10 justify-center items-center;
}

/* MAIN */

#children {
  @apply pt-12 tab:pt-20 pc:pt-24;
}

#main div {
  @apply p-2 tab:p-4 pc:p-8;
}

.reveal {
  @apply opacity-0;
}

.reveal-visible {
  animation: revealVisible 0.8s ease 0.1s forwards;
}

@keyframes revealVisible {
  from {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}


/* PRESENTATION */

#presentation, #aboutMain {
  background: linear-gradient(45deg, rgba(1,20,161,1) 8%, rgba(43,107,255,1) 66%);
  @apply flex flex-col
}

#presentation h1 span{
  @apply p-0 opacity-0;
}

.letter01 {animation: reveal 1.5s ease 200ms forwards}
.letter02 {animation: reveal 1.5s ease 300ms forwards}
.letter03 {animation: reveal 1.5s ease 400ms forwards}
.letter04 {animation: reveal 1.5s ease 500ms forwards}
.letter05 {animation: reveal 1.5s ease 600ms forwards}
.letter06 {animation: reveal 1.5s ease 700ms forwards}
.letter07 {animation: reveal 1.5s ease 800ms forwards}
.letter08 {animation: reveal 1.5s ease 900ms forwards}
.letter09 {animation: reveal 1.5s ease 1000ms forwards}
.letter10 {animation: reveal 1.5s ease 1100ms forwards}
.letter11 {animation: reveal 1.5s ease 1200ms forwards}
.letter12 {animation: reveal 1.5s ease 1300ms forwards}
.letter13 {animation: reveal 1.5s ease 1400ms forwards}
.letter14 {animation: reveal 1.5s ease 1500ms forwards}
.letter15 {animation: reveal 1.5s ease 1600ms forwards}

#presentation p {
  @apply tab:w-11/12 pc:w-2/3 self-center pc:self-end opacity-0;
  animation: reveal 700ms forwards;
}

#presentation * {
  @apply text-whiteDefault;
}

@keyframes reveal {
  from {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

/* REALISATIONMAIN */

#realisationMain {
  @apply flex flex-col shadow-2xl;
}

#realisationMain h2 {
  @apply text-center;
}

#realisationMain button {
  @apply self-center;
}

/* REALISATION SLIDER */

#realisationSlider {
  @apply h-96;
}

#realisationSlider p {
  @apply text-center;
}

/* ABOUT MAIN */

#aboutMain {
  @apply flex flex-col items-center;
}

#aboutMain h2 {
  @apply text-whiteDefault;
}

#aboutMain p {
  @apply w-2/3 text-whiteDefault;
}

/* SKILLS */

#skills {
  @apply flex flex-col;
}

#skillsList {
  @apply w-[100%] flex flex-col tab:flex-row pc:flex-row items-center justify-center self-center;
}

.skill {
  @apply flex flex-col items-center content-center w-11/12 tab:w-1/5 pc:w-1/5;
}

.skill img {
  @apply h-24 pc:h-56;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 300ms;
}

.skill img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition-duration: 300ms;
}

.skill p {
  @apply text-[25px] m-0 opacity-0;
}

.typingReveal {
  opacity: 75%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}